<h1> Project: <%= @project.title %></h1>
<br><br>
<h3> Volunteers </h3>

  <% if @project.volunteers.any? %>
    <ul>
      <% @project.volunteers.each do |volunteer| %> 
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
    </ul>
  <% else %>
    <p> This project does not currently have any volunteers. </p>  
  <% end %>   
<hr>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="name">Add a Volunteer</label>
    <input id="name" name="name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-dark">Add Volunteer</button>
</form>
<br>
<a href="/projects" class="btn btn-outline">Return to Projects</a> 
<hr>
<p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>
<br>
